html,
body {
	margin: 0;
	padding: 0;
	height:100%;
}

html {
	background-color: -moz-Dialog;
	color: -moz-DialogText;
	
	font-family: 'DejaVu Sans', Verdana, Geneva, sans-serif;
	font-size: 12px;
}

input {
	background-color: -moz-Dialog;
	border: 1px solid -moz-DialogText;
	padding: 2px 1px;
	
	height: 20px;
	box-sizing: border-box;
}
input:focus {
	background-color: white;
}

.top {
	padding: 7px 7px 0 10px;
}
.top label {
	display: block;
}

.top input {
	margin-top: 5px;
	width: 100%;
}

.params label {
	margin-left: 10px;
}

#getInputs,
#postInputs {
	min-height: 20px;
	margin-top: 5px;
}

.params input:nth-child(2) {
	width: calc(40% - 2px);
}

.params input:nth-child(3) {
	width: 60%;
	float: right;
}

.params .handle {
	display: inline-block;
	width: 6px;
	height: 14px;
	cursor: move;
	background-image: url(drag-handle.svg);
	position: absolute;
	top: 3px;
	left: -8px;
}

.params .drag-placeholder {
	border: 1px dashed -moz-DialogText;
	height: 18px;
}

.params .inputLine,
.params .drag-placeholder {
	margin: 5px 7px 0 10px;
}

.params .inputLine {
	position: relative;
}

.params .inputLine .delete {
	position: absolute;
	top: 2px;
	right: -7px;
	
	background-image: url(icon-delete-16.png);
	
	height: 16px;
	width: 16px;
	
	opacity: 0;
	transition: opacity 1s;
}

.params .inputLine:not(:last-child):hover .delete {
	opacity: 1;
	cursor: pointer;
}


.params .inputLine:last-child .delete {
	display: none;
}

.params,
.referrerLabel {
	margin-top: 10px;
}

.buttonBar {
	margin: 10px 7px 7px 10px;
}
.buttonBar button {
	box-sizing: border-box;
	width: 100%;
}

label,
button {
	-moz-user-select: none;
	user-select: none;
}
